@page "/StatusCode/404"
@* @rendermode @(new InteractiveServerRenderMode(prerender: true)) *@


@* <LayoutView Layout="@typeof(MainLayout)">
    <h3>NotFound</h3>
</LayoutView> *@
<h3>NotFound</h3>

@{
    if (true)
    {

    }

}