@page "/authors/"
@using BookStoreApp.Blazor.Server.Models
@inject IAuthorService authorService
@inject IJSRuntime js
@rendermode InteractiveServer


@* @attribute [Authorize] *@

<h3>Index</h3>


@if (response.Success == false)
{
    <div class="alert alert-danger">
        <h4>@response.Message</h4>
    </div>
}
else
{
    @if (Authors is null)
    {
        <div class="alert alert-info">
            <h4>
                Loading data...
            </h4>
        </div>
    }
    else
    {
        <a class="btn btn-dark" href="/authors/create">Create</a>
        <br />

        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Authors)
                {
                    <tr>
                        <td>@author.Id</td>
                        <td>@author.FirstName</td>
                        <td>@author.LastName</td>
                        <td>
                            <a class="btn btn-primary" href="/authors/details/@author.Id"><i class="bi bi-card-heading"></i> Details</a>
                            <AuthorizeView Roles="Administrator">
                                <a class="btn btn-warning" href="/authors/update/@author.Id"><i class="bi bi-pencil-square"></i> Edit</a>
                                <button class="btn btn-danger" @onclick="() => Delete(author.Id)"><i class="bi bi-trash"></i> Delete</button>
                            </AuthorizeView>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    private Response<AuthorReadOnlyDtoVirtualizeResponse> response = new Response<AuthorReadOnlyDtoVirtualizeResponse> { Success = true };
    private List<AuthorReadOnlyDto> Authors;

    protected override async Task OnInitializedAsync()
    {
        response = await authorService.Get(new QueryParameters { AllRows = true });
        if (response.Success)
        {
            Authors = response.Data.Items.ToList();
        }
    }

    private async Task Delete(int authorId)
    {
        var author = Authors.First(q => q.Id == authorId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Are You Sure You Want To Delete {author.FirstName} {author.LastName}?");
        if (confirm)
        {
            var response = await authorService.Delete(authorId);
            if (response.Success)
            {
                await OnInitializedAsync();
            }
        }
    }
}
