<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BookStoreApp.Blazor.StandalonePWA</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <h6 class="text-white text-center mt-3">Always will show</h6>
        <hr class="mx-3" />
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <li class="bi bi-house-door-fill" aria-hidden="true"></li> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <li class="bi bi-plus-square-fill" aria-hidden="true"></li> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <li class="bi bi-list-nested" aria-hidden="true"></li> Weather
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <h6 class="text-white text-center mt-3">Only when logged in</h6>
                <hr class="mx-3" />
                <div class="nav-item px-3">
                    <NavLink class="nav-link">
                        <li class="bi bi-person-circle" aria-hidden="true"></li> @context.User?.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/logout">
                        <li class="bi bi-box-arrow-left" aria-hidden="true"></li> Log Out
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="authors/">
                        <li class="bi bi-person-vcard" aria-hidden="true"></li> Authors
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="books/">
                        <li class="bi bi-book" aria-hidden="true"></li> Books
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <h6 class="text-white text-center mt-3">Only when not logged in</h6>
                <hr class="mx-3" />
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/register">
                        <li class="bi bi-person-plus" aria-hidden="true"></li> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="users/login">
                        <li class="bi bi-box-arrow-in-right" aria-hidden="true"></li> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
